<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" [(ngModel)]="newUser.firstName" id="firstName" class="form-control" required placeholder="First name">
    </div>
    <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" [(ngModel)]="newUser.lastName" id="lastName" class="form-control" required placeholder="Last name">
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <select [(ngModel)]="newUser.gender" id="gender" class="form-control" required>
            <option></option>
            <option *ngFor="let gender of ['Female', 'Male']" [value]="gender">{{gender}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="newUser.email" id="email" class="form-control" required placeholder="Email">
    </div>
    <div class="form-group">
        <label for="tier">Tier</label>
        <select [(ngModel)]="newUser.tier" id="tier" class="form-control" required>
            <option></option>
            <option *ngFor="let tier of ['1', '2', '3', '4']" [value]="tier">{{tier}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>